<%= render "shared/second-header" %>

<div class="form-field">
  <h2>ユーザー情報登録</h2>
  <br>
<%= form_for(@user, url: user_registration_path) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    ニックネーム<br />
    <%= f.text_field :nickname %>
  </div>
  <br>

  <div class="field">
    メールアドレス<br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <br>

  <div class="field">
    パスワード
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  <br>

  <div class="field">
    パスワード（確認用）<br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <br>

   <div class="actions">
    <%= f.submit "次のページへ", class: 'action-btn' %>
  </div>
  <br>
<% end %>
</div>

<%#= render "devise/shared/links" %>
<%= render "shared/third-footer" %>
