<%= render "shared/second-header" %>
<div class="form-field">
<h2>パーソナリティー情報</h2>
 <span>限られた選択肢の中から最も自分に当てはまる項目を選んでください！</span>
 <br>
 <span>※選択肢多いです！</span>
<%= form_for @question do |f| %>
  <%= render "devise/shared/error_messages", resource: @question %>

  <div class="field">
    <div class="weight-bold-text">
      理念
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:philosophy_id, Philosophy.all, :id, :name, {}, {class:"select-box", id:"philosophy"}) %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
      好きな色
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:color_id, Color.all, :id, :name, {}, {class:"select-box", id:"color"}) %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
      自分の特性
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:my_type_id, MyType.all, :id, :name, {}, {class:"select-box", id:"my_type"}) %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
      好きなタイプになりにくいのは？
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:like_type_id, LikeType.all, :id, :name, {}, {class:"select-box", id:"like_type"}) %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
      出身
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"prefecture"}) %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
      今1品だけ食べられるとしたら？
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:food_id, Food.all, :id, :name, {}, {class:"select-box", id:"food"}) %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
      趣味にするなら？/現在の趣味
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:hobby_id, Hobby.all, :id, :name, {}, {class:"select-box", id:"hobby"}) %>
  </div>

  
  <div class="field">
    <div class="weight-bold-text">
      好きな音楽
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:music_id, Music.all, :id, :name, {}, {class:"select-box", id:"music"}) %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
      どんな時に腹が立つ？
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:angry_id, Angry.all, :id, :name, {}, {class:"select-box", id:"angry"}) %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
      あなたが改善したいところは？
      <span class="indispensable">必須</span>
    </div>
    <%= f.collection_select(:improve_id, Improve.all, :id, :name, {}, {class:"select-box", id:"improve"}) %>
  </div>

  <div class="field">
    <div class="weight-bold-text">
      自由記入欄
    </div>
    <%= f.text_area :text, class:"user-text", id:"user-text", placeholder:"自由に記入してください" ,rows:"7" ,maxlength:"1000" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'action-btn' %>
  </div>
<% end %>
</div>

<%#= render "devise/shared/links" %>
<%= render "shared/third-footer" %>