<%= render "shared/second-header" %>
<div class="form-field">
  <div class="user__wrapper">
    <h2 class="page-heading">
      <%= "#{@nickname}さんの情報" %>
    </h2>
    <table class="table">
      <tbody>
        <tr>
          <th class="table__col1">名前</th>
          <td class="table__col2"><%= @nickname %></td>
        </tr>
        <tr>
          <th class="table__col1">理念</th>
          <td class="table__col2"><%= @philosophy %></td>
        </tr>
        <tr>
          <th class="table__col1">好きな色</th>
          <td class="table__col2"><%= @color %></td>
        </tr>
        <tr>
          <th class="table__col1">自分の特性</th>
          <td class="table__col2"><%= @my_type %></td>
        </tr>
        <tr>
          <th class="table__col1">好きなタイプになりにくいのは？</th>
          <td class="table__col2"><%= @like_type %></td>
        </tr>
        <tr>
          <th class="table__col1">出身</th>
          <td class="table__col2"><%= @prefecture %></td>
        </tr>
        <tr>
          <th class="table__col1">今1品だけ食べられるとしたら？</th>
          <td class="table__col2"><%= @food %></td>
        </tr>
        <tr>
          <th class="table__col1">趣味にするなら？/現在の趣味</th>
          <td class="table__col2"><%= @hobby %></td>
        </tr>
        <tr>
          <th class="table__col1">好きな音楽</th>
          <td class="table__col2"><%= @music %></td>
        </tr>
        <tr>
          <th class="table__col1">どんな時に腹が立つ？</th>
          <td class="table__col2"><%= @angry %></td>
        </tr>
        <tr>
          <th class="table__col1">あなたが改善したいところは？</th>
          <td class="table__col2"><%= @improve %></td>
        </tr>
        <tr>
          <th class="table__col1">自由記入欄</th>
          <td class="table__col2"><%= @text %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= render "shared/second-footer" %>