<%= render "shared/header" %>
<br>
<h1>Limited</h1>
<br>

<div class='title-contents'>
    <h2 class='service-title'>
      「言葉選び」のコストを削減するチャットアプリ
    </h2>
    <p class='service-explain'>
      限られた言葉しか選べない
    </p>
    <p class='service-explain'>
      チャットアプリです
    </p>
</div>
<br>

<%# <h1>
  ユーザー検索
</h1>
<%= search_form_for @p, url: questions_search_path do |f| %>
  <%# <%= f.label :name_eq, 'ユーザー名' %>
  <%# <%= f.collection_select :name_eq, @users, :nickname, :nickname,  include_blank: '指定なし' %>
  <%# <br>
  <%= f.submit '検索' %>
<%# <% end %>

<% if user_signed_in? %>
  <div class='room-url' id="room-url">
    <%= link_to "チャットルームへ", rooms_path, class: 'chat-room-btn', id: 'chat-room-btn' %>
  </div>
  <br>
<% end %>
<br>
<% if @users.length != 0 %>
  <div class="form-field">
    <div class="user__wrapper">
      <h2 class="page-heading">
        ユーザー
      </h2>
      <div class="users">
        <table class="home-table">
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td class="home-table__col2"><%= link_to user.nickname, user_path(user.id), class: "home-user" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>

      



<% if user_signed_in? %>
  <%= link_to(new_room_path, class: 'room-btn') do %>
    <span class='room-btn-text'>ルーム作成</span>
  <% end %>
<% end %>



<%= render "shared/footer" %>