<%= render "shared/header" %>
<br>
<h1>Limited</h1>
<br>

<div class='title-contents'>
    <h2 class='service-title'>
      「言葉選び」のコストを削減するチャットアプリ
    </h2>
    <p class='service-explain'>
      限られた言葉しか選べない
    </p>
    <p class='service-explain'>
      チャットアプリです
    </p>
</div>
<br>

<% if user_signed_in? %>
  <div class='room-url' id="room-url">
    <%= link_to "チャットルームへ", rooms_path, class: 'chat-room-btn', id: 'chat-room-btn' %>
  </div>
  <br>
<% end %>
<br>

<% if @users.length != 0 %>
  <div class="form-field">
    <h1>
      ユーザー検索
    </h1>
    <br>
    <%= search_form_for @p, url: home_search_path do |f| %>
      <%= f.label :nickname_eq, 'ユーザー名：' %>
      <%= f.collection_select :nickname_eq, @user_nickname, :nickname, :nickname,  include_blank: '指定なし' %>
      <br>
      <br>
      <%= f.submit '検索', class:"search-btn" %>
  <% end %>
  </div>
<% end %>

<% if @ogiris.length != 0 %>
  <% @ogiris.each do |ogiri| %>
    <div class="form-field">
      <h2 class="page-heading">
        投稿者：<%= ogiri.user.nickname %>
      </h2>
      <%= ogiri.first_text.name %>
      <%= ogiri.text %>
      <%= ogiri.second_text.name %>
      <span>
      <%= link_to "回答を見る", home_path(ogiri.id) %>
      </span>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <%= link_to(new_home_path, class: 'room-btn') do %>
    <span class='room-btn-text'>投稿する</span>
  <% end %>
<% end %>



<%= render "shared/footer" %>