<%= render "shared/second-header" %>
<br>
<h1>
  検索結果
</h1>
<%# 検索結果の個数で条件分岐 %>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <br>
    <div class="form-field">
      <div class="user__wrapper">
        <h2 class="page-heading">
          <%= "#{result.nickname}さんの情報" %>
        </h2>
        <table class="table">
          <tbody>
            <tr>
              <th class="table__col1">名前</th>
              <td class="table__col2"><%= result.nickname %></td>
            </tr>
            <tr>
              <th class="table__col1">理念</th>
              <td class="table__col2"><%= result.question.philosophy.name %></td>
            </tr>
            <tr>
              <th class="table__col1">好きな色</th>
              <td class="table__col2"><%= result.question.color.name %></td>
            </tr>
            <tr>
              <th class="table__col1">自分の特性</th>
              <td class="table__col2"><%= result.question.my_type.name %></td>
            </tr>
            <tr>
              <th class="table__col1">好きなタイプになりにくいのは？</th>
              <td class="table__col2"><%= result.question.like_type.name %></td>
            </tr>
            <tr>
              <th class="table__col1">出身</th>
              <td class="table__col2"><%= result.question.prefecture.name %></td>
            </tr>
            <tr>
              <th class="table__col1">今1品だけ食べられるとしたら？</th>
              <td class="table__col2"><%= result.question.food.name %></td>
            </tr>
            <tr>
              <th class="table__col1">趣味にするなら？/現在の趣味</th>
              <td class="table__col2"><%= result.question.hobby.name %></td>
            </tr>
            <tr>
              <th class="table__col1">好きな音楽</th>
              <td class="table__col2"><%= result.question.music.name %></td>
            </tr>
            <tr>
              <th class="table__col1">どんな時に腹が立つ？</th>
              <td class="table__col2"><%= result.question.angry.name %></td>
            </tr>
            <tr>
              <th class="table__col1">あなたが改善したいところは？</th>
              <td class="table__col2"><%= result.question.improve.name %></td>
            </tr>
            <tr>
              <th class="table__col1">自由記入欄</th>
              <td class="table__col2"><%= result.question.text %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
<% else %>
<h1>
  該当するユーザーはいません
</h1>
<% end %>
<br>

<%= link_to(new_room_path, class: 'room-btn') do %>
  <span class='room-btn-text'>ルーム作成</span>
<% end %>
<%= render "shared/second-footer" %>
